@charset "UTF-8";

/*  base  */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

/* header */

.header {
  width: 100%;
}

.header-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul li {
  margin-right: 50px;
}

/*subvisual*/
.subvisual {
  width: 100%;
  height: 200px;
  background-image: url(https://bit.ly/387flYn);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.subvisual h1 {
  margin: 0;
  text-align: center;
  line-height: 200px;
  font-size: 1.5rem;
  color: #fafafa;
  font-weight: normal;
}

/*form*/
.form {
  margin-bottom: 80px;
}

.form dl {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px dotted #676767;
}

.form dl:first-of-type {
  border-top: 1px dotted #676767;
}

.form dl dt {
  width: 300px;
  box-sizing: border-box;
  padding: 20px 0 20px 10px;
  line-height: 1em;
}

.form dd {
  width: calc(100% - 300px);
  box-sizing: border-box;
}

.form dd input,
.form dd select,
.form dd textarea {
  font-size: 1rem;
  color: #777;
  border: 1px solid #555;
  box-sizing: border-box;
}

.form dd input,
.form dd select {
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
}
.form dd textarea {
  height: 140px;
  line-height: 2em;
  padding: 20px;
}
.form dl.name dd {
  padding: 0 0 0 25px;
}
.form dl.name dd span {
  margin: 0 20px 0 0;
}
.form dl.name dd input {
  width: 350px;
}
.form dl.name dd input:first-of-type {
  margin: 0 50px 0 0;
}
.form dl.furigana dd {
  padding: 0 0 0 10px;
}
.form dl.furigana dd span {
  margin: 0 20px 0 0;
}
.form dl.furigana dd input {
  width: 350px;
}
.form dl.furigana dd input:first-of-type {
  margin: 0 30px 0 0;
}
.form dl.mail dd input {
  width: calc(100% - 20px);
}
.form dl.tel dd input {
  width: 200px;
}
.form dl.tel dd span {
  margin: 0 20px;
}
.form dl.zip dd input {
  width: 200px;
}
.form dl.zip dd span {
  margin: 0 20px;
}
.form dl.pref dd select {
  width: 200px;
}
.form dl.address dd input {
  width: calc(100% - 20px);
}
.form dl.multi-text dd textarea {
  width: calc(100% - 20px);
}
.form .form-button {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}
.form .form-button input {
  display: block;
  width: 250px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #353535;
  border: 1px solid #353535;
  margin: 0 15px;
  cursor: pointer;
  transition: .3s ease all;
}
.form .form-button input:hover {
  background-color: transparent;
  color: #444;
  transition: .3s ease all;
}

/*footer*/
.footer .content-wrapper {
  width: 1200px;
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address p {
  margin: 0;
  line-height: 1.8;
}

.footer ul {
  display: flex;
}

.footer ul li {
  margin: 0 25px;
}

.copylight p {
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 0.75rem;
  margin: 0;
  color: #333;
  background-color: #e8e7e7;
}
